@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600 &display=swap");

:root {
  --bgColor: #1f1f1f;
  --passbolt-red: #d40101;
  --lighter-grey: #171717;
  --black: #0f0f0f;
  --white: #eaeaea;
  --font: "Inter", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--bgColor);
  background-image: url('./assets/background-icons.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
} 

#passbolt-logo {
  max-width: 375px;
  width: 65vw;
  margin: 0 auto 20px;
}

#heading {
  font-size: 16px;
  color: var(--white);
  font-family: var(--font);
  text-align: center;
  margin: 20px auto;
  width: 65vw;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

a {
  text-decoration: none;
}

#recent-links .link {
  color: var(--white);
  width: auto;
  background-color: var(--black);
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  line-height: 1.5;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
  gap: 20px;
  justify-content: center;
  text-align: left;
}

#social-links .link i:hover {
  color: var(--passbolt-red);
}

#recent-links a:focus {
  border: 2px solid var(--passbolt-red);
}

i {
  color: var(--white);
}

#recent-links i {
  font-size: 24px;
}

#social-links .link i {
  font-size: 35px;
}

@media only screen and (min-width: 640px) {
  #recent-links .link {
    flex-direction: row;
  }
}

@media only screen and (max-width: 640px) {
  #recent-links .link {
    width: 80vw;
    justify-content: left;
  }
}

#recent-links .link:hover {
  background-color: var(--passbolt-red);
}

#recent-links .link:hover i {
  -webkit-animation: bounce 2.2s;
  animation: bounce 2.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
}
